.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}
.demo-card-square > .mdl-card__title {
    color: #666666;
    background:
            url('../images/map.png') bottom right 15% no-repeat #46B6AC;
}
